<h1>Know Your Enemy</h1>

<h2>How to Play</h2>
<p>After each player selects a servant and presses "Confirm", they are taken to the game screen. On the top left corner of their portraits, there's a button that acts as the 'call' command. It repressents you calling your troops so they become prepared at what their command is. Once clicked, the button will drop down the three action buttons. These buttons are your easy, medium, and hard questions. These represent the attack commands you give your troop, such as charging at the enemy or using your archers to barage them instead. Answering each question correctly results in a different amount of points in damage to your opponent depending on difficulty:

<ul>
    <li>Easy: -10 HP</li>
    <li>Medium: -20 HP</li>
    <li>Hard: -30 HP</li>
</ul>

Once you choose a command for your troops, your question is basically what your spies dug up on your opponent. Answering wrong on a Easy or Medium question will result in a 50% chance of the attacking still damaging your opponenet, but any wrong answer on a hard question will allways be 0%. Each question is based on the enemy character's own life. Due to this, it's best to not choose a character that you like or are most familiar with, but one you know you're opponent is the least familiar with. Once one player's HP is dropped to zero, their opponent wins the game. I feel it must be noted that the trivia questions are based on the servants' <strong>actual lore</strong> and not their Fate lore. </p>

<%= image_tag 'https://vignette.wikia.nocookie.net/fategrandorder/images/9/97/FGO_ObserverOnTimelessTemple.jpg/revision/latest/scale-to-width-down/340?cb=20190429004706' %>

<%= link_to 'Enter', controller: 'servants' %>